#!/bin/bash

#------------------------------------------------------------------------------
# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:
#------------------------------------------------------------------------------
eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

#------------------------------------------------------------------------------
#    Source local .env file if exists
#    (should be used to define secrets)
#------------------------------------------------------------------------------
if [ -f .env ]
then
  set -o allexport
  source .env
  set +o allexport
fi
