# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

*.go diff=golang
*.sh diff=bash
*.md diff=markdown
*.py diff=python
*.sql diff=sql

devbox.json linguist-language=json5

go.sum -diff linguist-generated